{% extends 'base.html.twig' %}

{% block body %}
    <p class="hidden-md-up">
        <button type="button" class="btn btn-primary-outline btn-sm" data-toggle="offcanvas"><i
                    class="fa fa-chevron-left"></i> Menu
        </button>
    </p>

    <h1 class="display-1 hidden-xs-down">
        Panel Administratora
    </h1>

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="card card-inverse card-success">
                <div class="card-block bg-success">
                    <div class="rotate">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Nowe zamówienia</h6>
                    <h1 class="display-1">134</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-inverse card-danger">
                <div class="card-block bg-danger">
                    <div class="rotate">
                        <i class="fa fa-list fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Gotowe zamówienia</h6>
                    <h1 class="display-1">87</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-inverse card-info">
                <div class="card-block bg-info">
                    <div class="rotate">
                        <i class="fa fa-twitter fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Wydane zamówienia</h6>
                    <h1 class="display-1">125</h1>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-4 placeholder text-xs-center">
            <h4>Nowe zamówienia</h4>
            <ul id="newInvoiceList" class="list-group">

            </ul>
            <a href="#" class="text-muted">Zobacz nowe zamówienia</a>
        </div>
        <div class="col-xs-6 col-sm-4 placeholder text-xs-center">
            <h4>Gotowe zamówienia</h4>
            <a class="text-muted">Zobacz gotowe zamówienia</a>
        </div>
        <div class="col-xs-6 col-sm-4 placeholder text-xs-center">
            <h4>Wydane zamówienia</h4>
            <a class="text-muted">Zobacz wydane zamówienia</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        MRS.homepage();
    </script>
{% endblock %}